<!DOCTYPE html>
<html>
<head>
  <title>IntroductionApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="container">
  <div class="top-image">
    <%= image_tag("top_image.png", class: "topphoto") %>
  </div>
  <ul class="various_links">
    <li class="links"><%= link_to "PROFILE", profile_path %></li>
    <li class="links"><%= link_to "SKILL", skill_path %></li>
    <li class="links"><%= link_to "OUTPUT", output_path %></li>
    <li class="links"><%= link_to "CONTACT", contact_path %></li>
  </ul>

  <%= yield %>

</div>
</body>
</html>
