<!DOCTYPE html>
<html>
  <head>
    <title>IntroductionApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-box">

      <div class="top-image">
        <%= image_tag("top_image.png",class:"topimage") %>
      </div>

    <div>
      <div class="various_links">
        <ul>
          <li><%= link_to "PROFILE",profile_path,class:"links" %></li>
          <li><%= link_to "SKILL",skill_path,class:"links" %></li>
          <li><%= link_to "OUTPUT",output_path,class:"links" %></li>
          <li><%= link_to "CONTACT",contact_path,class:"links" %></li>
        </ul>
      </div>
    </div>

    <%= yield %>

    </div>
  </body>

</html>
