<!DOCTYPE html>
<html>
<head>
  <title>IntroductionApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="top-image">
    <%= link_to image_tag("top_image.png", class: "topphoto"),root_path %>
  </div>
  <ul class="various_links">
    <li class="links"><i class="fas fa-child"></i><%= link_to "PROFILE", profile_path %></li>
    <li class="links"><i class="fas fa-code"></i><%= link_to "SKILL", skill_path %></li>
    <li class="links"><i class="fas fa-paper-plane"></i><%= link_to "OUTPUT", output_path %></li>
    <li class="links"><i class="fas fa-envelope"></i><%= link_to "CONTACT", contact_path %></li>
  </ul>

  <%= yield %>

</div>
</body>
</html>
