<!DOCTYPE html>
<html>
<head>
  <title>IntroductionApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
<div id="page_top"><a href="#"></a></div>
<div class="container">
  <div class="top-image">
    <%= link_to image_tag("topphoto-2.png", class: "topphoto"),root_path %>
  </div>

  <ul class="various_links">

    <li class="links profile">
      <%= link_to profile_path do %>
      <i class="fas fa-child"></i>PROFILE
      <% end %>
    </li>

    <li class="links skill">
      <%= link_to skill_path do %>
      <i class="fas fa-code"></i>SKILL
      <% end %>
    </li>

    <li class="links output">
      <%= link_to output_path do %>
      <i class="fas fa-paper-plane"></i>OUTPUT
      <% end %>
    </li>

    <li class="links contact">
      <%= link_to contact_path do %>
      <i class="fas fa-envelope"></i>CONTACT
      <% end %>
    </li>

  </ul>

  <%= yield %>

</div>
</body>

<footer>
  <div class="footertext">
    <small>&copy; 2019 Kana Matsumoto</small>
  </div>
<footer>

</html>
